# Course requirements
python-dotenv
streamlit

# Tools
openai==0.28.1
anthropic
requests_html
llama-cpp-python
html2text
youtube-transcript-api
nltk
llama-index
langchain
chromadb==0.4.10
gdown
pandas
tqdm
watchdog

# Code QA
black
mypy
ruff
pytest
isort
blacken-docs
pyupgrade
detect-secrets
tomli
pre-commit
