# Course requirements
python-dotenv
streamlit

# Tools

# For hello milo, blog, etc.
openai

# for the video poc
anthropic

# for the blog poc
# Make sure you have chrome browser installed
selenium
webdriver-manager
html2text

#
llama-cpp-python
youtube-transcript-api
nltk
llama-index
langchain
chromadb
gdown
pandas
tqdm
watchdog

# Code QA
black
mypy
ruff
pytest
isort
blacken-docs
pyupgrade
detect-secrets
tomli
pre-commit
